@page "/login"
@using ExampleApp.Shared.Models
@using ExampleApp.Shared
@inject IAuthenticateUserService AuthenticationService
@inject NavigationManager urlNavigationManager

<h1>Login</h1>
<hr />

<EditForm Model="@user" OnValidSubmit="LogUserIn">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Username</label>
        <div class="col-md-4">
            <input class="form-control" @bind="user.Username" placeholder="Cl0uds1" />
        </div>
        <ValidationMessage For="@(() => user.Username)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Password</label>
        <div class="col-md-4">
            <input class="form-control" @bind="user.Password" type="password" />
        </div>
        <ValidationMessage For="@(() => user.Password)" />
    </div>    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>

@code { LoginModel user = new LoginModel();

    protected async Task LogUserIn()
    {
        var x = await AuthenticationService.Login(user);
        Console.WriteLine(x.Token);
    } }